@{
    ViewBag.Title = "关于老猫博客";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
<hr/>
<p style="font-size:large">“老猫博客”是 NIIT 2017年江苏省程序设计大赛高职组竞赛项目。</p>
<p style="font-size:large">“老猫博客”开发团队由江苏联合职业技术学院盐城机电分院2013级软件技术专业的葛慧敏、孙焱、吴浪三名学生组成。</p>
<p style="font-size:large">指导老师：仲劲、应桂芬。</p>
<p style="font-size:large"></p>
<p style="font-size:large">系统已预置管理员用户，登录用户名：admin@ycjdgz.cn，密码：Abc123$</p>