@{
    ViewBag.Title = "联系我们";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
<hr />
<address  style="font-size:large">
    江苏省盐城市城南新区<br />
    盐城高等职业教育园<br />
    盐城机电高等职业技术学校（江苏联合职业技术学院盐城机电分院）<br />
    <br />
    邮政编码：224005<br />
    <br />
    电话：0515-88110588<br />
    Email：admin@ycjdgz.cn
</address>
